html,body{
	background-image: url('../img/fondo\ 2.jpg');
	background-size: cover;
	
	height: 100%;
	width: 100%;
	font-family: 'Numans', sans-serif;
	}
	

   .heading-page {
    color: aliceblue;
   }

   
